<nav>
  <div class="logo">
    <h1>4Travel</h1>
  </div>
  <ul class="nav-links">
    <li><a href="/trips">Trips</a></li>
    <li><a href="/plan-your-trip">Plan Your Trip</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
  <div class="login">
    <a href="/login">Login</a>
  </div>
</nav>