<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Travel</title>
</head>
<body>
    {{> navbar}}
<section class="hero">
  <div class="hero-image">
    <img
      src="https://www.coindesk.com/resizer/z9ixf__1a6JqCUuf--f2Kk6JG-8=/1056x707/filters:quality(80):format(jpg)/cloudfront-us-east-1.images.arcpublishing.com/coindesk/2XKI4NL66ZEQ5MFKCRWRAWKMKE.jpg"
      width="1056"
      height="707"
      alt="Photo by Christine Roy on Unsplash"
      loading="lazy"
      class=""
    />
  </div>
  <div class="hero-text">
   <h2>For your travel plans</h2>
  </div>
</section>
 

</body>
</html>



