<h1>Welcome, {{user.username}}!</h1>
<p>Your trips:</p>
{{#if user.trips.length}}
<ul>
  {{#each user.trips}}
    <li>{{this.name}} - {{this.date}}</li>
  {{/each}}
</ul>
{{else}}
<p>You have no trips planned.</p>
{{/if}}
